/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
.DS_Store

# install nano, docker compose, iputils ping
# enable a2enmod header, rewrite
# setting ssl
# allow header 